{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Upload File</h1>
    <hr>
    <form class="form-inline" action="{{ url_for('index') }}" method="post"
    enctype="multipart/form-data">
      <div class="form-group">
        <input type="file" name="file" class="btn btn-default">
      </div>
      <div class="form-group">
        <input type="submit" value="Upload" class="btn btn-default">
      </div>
    </form>
  </div>
  <footer>
    <p>Author: Exequiel Moneva</p>
    <p><a href="https://github.com/exequielmoneva">GitHub</a> | <a href="https://www.linkedin.com/in/exequiel-moneva/">LinkedIn</a></p>
  </footer>
{% endblock %}
