{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Predicted Class: {{ result.class_name }}</h1>
  <hr>
  <div>
    <img src="{{ result.image_path }}" class="img-rounded" width="400"
    height="auto" alt="Image provided">
  </div>
  <a href="{{ url_for('index') }}" class="btn btn-default">Back</a>
  <hr>
  <footer>
    <p>Author: Exequiel Moneva</p>
    <p><a href="https://github.com/exequielmoneva">GitHub</a> | <a href="https://www.linkedin.com/in/exequiel-moneva/">LinkedIn</a></p>
  </footer>
</div>
{% endblock %}
